.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: white;
}

.App-link {
  color: #09d3ac;
}

#info {
  background-color: #2c323c;
  color: white;
  text-align: center;
  height: 250px;
  padding-top: 120px;;
}

#navbar{
  background-color: #5133a4;
width: 100%;
height: 120px;
list-style-type: none;
padding: 0;
  margin: 0;
  color: white;
  padding: 10px 16px;
  border-bottom: 5px solid red;
  
}

.navs{
  color: white;
}

#footer{
  background-color: #2c323c;
  color: white;
width: 100%;
height: 80px;
}

#footercenter{
  text-align: center;
}

  
.wrapper {
  padding-top: 50px;
  background: white;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

.card {
  background: #fff;
  border-radius: 2px;
  height: 150px;
  margin: 1rem;
  position: relative;
  width: 256px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-space {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:#5133a4;
}


.img-space{
  height: 50px;
  padding-top: 25px;
  padding-bottom: 30px;;
}

.carimages {
  width: 180px;
  height: 100px;
}



